# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
verityFrontend/node_modules/

# Expo
verityFrontend/.expo/
verityFrontend/dist/
verityFrontend/web-build/
verityFrontend/expo-env.d.ts

# Native
verityFrontend/.kotlin/
verityFrontend/*.orig.*
verityFrontend/*.jks
verityFrontend/*.p8
verityFrontend/*.p12
verityFrontend/*.key
verityFrontend/*.mobileprovision

# Metro
verityFrontend/.metro-health-check*

# debug
verityFrontend/npm-debug.*
verityFrontend/yarn-debug.*
verityFrontend/yarn-error.*

# macOS
verityFrontend/.DS_Store
verityFrontend/*.pem

# local env files
verityFrontend/.env*.local

# typescript
verityFrontend/*.tsbuildinfo

verityFrontend/app-example

# generated native folders
verityFrontend/ios
verityFrontend//android
